<div class="container-fluid">    
    <div class="row">        
        <div class="col-sm-8">
            <h2 class="text-center">{{workoutDay.name}}</h2>
        </div>
        <div class="col-sm-4" [ngSwitch]="DisplayMode">
            <div *ngSwitchCase="displayMode.Display">
                <button class="btn btn-primary h1-margin pull-right" 
                    (click)="setEditMode()">
                    Edit
                </button>
            </div>
            <div *ngSwitchCase="displayMode.Edit">
                <button class="btn btn-success h1-margin pull-right" 
                    (click)="saveChanges()">
                    Save
                </button>
                <button class="btn btn-danger h1-margin pull-left" 
                    (click)="cancelEditEditMode()">
                    Cancel
                </button>
            </div>
            <div *ngSwitchCase="displayMode.Workout"></div>
            <div *ngSwitchDefault></div>
        </div>
    </div> 
    <div class="row">
        <app-exercise-thumbnail 
            *ngFor="let exercise of workoutDay.exercises; let i = index" 
            [workoutDayName]=workoutDay.name
            [exercise]=exercise
            [exerciseIndex]="i+1"
            [workoutDayComponentPublisher]="componentPublisher"
            #thumbnailComponent (click)="thumbnailComponent.exerciseSelected()"
            (eventEmitter)="handleExerciseActionEvent($event)">
        </app-exercise-thumbnail>        
    </div> 
    <div class="row" [ngSwitch]="DisplayMode">
        <div *ngSwitchCase="displayMode.Display">
            <button class="btn btn-success h1-margin" 
                    (click)="startWorkout()">
                    Start Workout
            </button>
        </div>
        <div *ngSwitchCase="displayMode.Workout">
            <button class="btn btn-success h1-margin" 
                    (click)="finishWorkout()">
                    Finish
            </button>
        </div>
        <div *ngSwitchCase="displayMode.Edit">
            <div class="col-sm-2">
                    <button class="btn btn-success h1-margin" 
                    (click)="addExercise()">
                    + Exercise
            </button>
            </div>
            <div class="col-sm-2">
                    <button class="btn btn-success h1-margin" 
                    (click)="saveChanges()">
                    + Superset
            </button>
            </div>
            <div class="col-sm-2">
                    <button class="btn btn-success h1-margin" 
                    (click)="saveChanges()">
                    + Day
            </button>
            </div>
            
        </div>
    </div> 
</div> 