<div class="container-fluid">    
    <div class="row">                
        <div [ngSwitch]="DisplayMode">
            <div *ngSwitchCase="displayMode.Display">                                                
                <button class="btn btn-primary pull-right margin-20"
                    (click)="setEditMode()">
                    Edit
                </button>
                <h2 class="text-center">{{workoutDay.name}}</h2>
            </div>
            <div *ngSwitchCase="displayMode.Edit">
                <div >
                    <input class="col-sm-6 edit-workout-name"
                           [value]="workoutDay.name" (input)="workoutDay.name = $event.target.value" />  
                    <div class="col-sm-4 pull-right">             
                        <button class="btn btn-success pull-right"
                            (click)="saveChanges()">
                            Save
                        </button>
                        <button class="btn btn-danger pull-left" 
                            (click)="cancelEditEditMode()">
                            Cancel
                        </button>
                    </div> 
                </div>
            </div>                        
            <div *ngSwitchDefault></div>
        </div>
    </div> 
    <div class="row">
        <app-exercise-thumbnail 
            *ngFor="let exercise of workoutDay.exercises; let i = index" 
            [workoutDayName]=workoutDay.name
            [exercise]=exercise
            [exerciseIndex]="i+1"
            [workoutDayComponentPublisher]="componentPublisher"
            #thumbnailComponent (click)="thumbnailComponent.exerciseSelected()"
            (eventEmitter)="handleExerciseActionEvent($event)">
        </app-exercise-thumbnail>        
    </div> 
    <div class="row" [ngSwitch]="DisplayMode">
        <div *ngSwitchCase="displayMode.Display">
            <button class="btn btn-success h1-margin" 
                    (click)="startWorkout()">
                    Start Workout
            </button>
        </div>
        <div *ngSwitchCase="displayMode.Workout">
            <button class="btn btn-success h1-margin" 
                    (click)="finishWorkout()">
                    Finish
            </button>
        </div>
        <div *ngSwitchCase="displayMode.Edit">
            <div class="col-sm-2">
                    <button class="btn btn-success h1-margin" 
                    (click)="addExercise()">
                    + Exercise
            </button>
            </div>
            <div class="col-sm-2">
                    <button class="btn btn-success h1-margin" 
                    (click)="saveChanges()">
                    + Superset
            </button>
            </div>
            <div class="col-sm-2">
                    <button class="btn btn-success h1-margin" 
                    (click)="saveChanges()">
                    + Day
            </button>
            </div>
            
        </div>
    </div> 
</div> 
