<div class="container-fluid">    
    <div class="row">        
        <div class="col-sm-10">
            <h2 align="center">{{workoutDay.name}}</h2>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default h1-margin pull-right" 
                (click)="toggleEditMode()">
                {{editTogglerText}}
            </button>
        </div>
    </div> 
    <div class="row">
        <app-exercise-thumbnail 
            *ngFor="let exercise of workoutDay.exercises" 
            [exerciseSet]=exercise.set
            [parentSubject]="parentSubject"
            #thumbnail (click)="thumbnail.exerciseSelected()"
            (eventClick)="handleExerciseClick($event)">
        </app-exercise-thumbnail>        
    </div>    
</div> 