 <div id='exercise-thumb' *ngFor="let exercise of exerciseSet"
    class="container-fluid thumb" 
    [ngClass]="getTopBottomMarginClass(exercise)" > 
      <div class="row">
        <div class="col-sm-2 imageWrap">
            <img src={{exercise.imageUrl}} 
                 class="img-sml" />
            <button class="btn btn-warning floatDelete" 
                (click)="deleteExercise()"
                *ngIf="isEditMode">
                Delete
            </button>
        </div>            
        <div (click)="editExercise()">            
            <h3>{{exercise.name}}</h3>            
            {{exerciseDetails(exercise)}}
        </div>
    </div>          
</div> 
