<div class="container-fluid thumb">
    <div class="row">
        <div class=col-sm-2>
            <img src={{exercise.imageUrl}} class="img-sml" (click)="deleteExercise()"/>
        </div>            
        <div class="col-sm-6" (click)="editExercise()">            
            <h3>{{exercise.name}}</h3>
            <br/>
            <div class="col-sm-2">{{exercise.grip?.type}}</div>
            <div class="col-sm-2">{{exercise.grip?.width}}</div> 
            <div class="col-sm-2">{{exercise.weightType}}</div>
        </div>
    </div>           
</div>
