<div class="container-fluid">
    <div class="row">
        <h1 align="center">{{workout.name}}</h1> 
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 align="center">{{workout.days[0].name}}</h2>
        </div>
        <div class="col-sm-4">{{thumbnail.mode}}</div>
    </div> 
    <div class="row">
        <app-exercise-thumbnail 
            #thumbnail (click)="thumbnail.exerciseSelected()"
            (eventClick)="handleExerciseClick($event)"
            [exercise]="workout.days[0].exercises[0]"></app-exercise-thumbnail>
    </div>    
</div> 